<a href="https://colab.research.google.com/github/bittss16/DataProgrammingProblemSet2/blob/main/Assignment_2_200555855.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION 1**

Consider the following Python module, After importing the module into the interpreter, you execute following things...

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
  global a
  a = c(a)
def c(a):
  return a + 2

In [2]:
b()
b()
b()
a

6

here,

a = 0:
The variable 'a' is assigned the value 0.
Define b().
This line defines a function named 'b'.
global a:
A function named b has a global variable "a". Here "a" is considered a global variable because it was declared outside the class scope.
a = c(a):
The function 'c' is called with the variable 'a' and passed as a again. So in this case the function "c" first gets the current value of a , declares it as "a" and assigns it as "a" again.
Definition c(a):
Function 'c' is defined as a function that takes the value 'a'. returns a+2:
This returns the value of a incremented by 2.
So the initial value of a is 0 and is declared global in function b. In c(a), the function "c" calls the original value of a, 0, but the return value of "c(a)" is "a+2", so the value of a becomes 2. , again assigned to '

But the second time 'b' is called, 'a' is updated to 4. Similarly, when 'a' is called for the third time, it is updated again to 6.

So when 'a' is called it shows the current value. In this case it is 6.

***QUESTION 2***

Function fileLength(), given to you, takes the name of a file as input and return the length of the file:

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [5]:
def fileLength(file_name):
    try:
        with open(file_name, 'r') as file:
            contents = file.read()
            length = len(contents)
            return length
    except FileNotFoundError:
        return "File " + file_name + " not found"

length = fileLength('intro.txt')
print(length)

22

In [6]:
length = fileLength('intro.txt')
print(length)

22

***QUESTION 3***

Write a class named Marsupial that can be used as shown below:

m = Marsupial() m.put_in_pouch('doll') m.put_in_pouch('firetruck') m.put_in_pouch('kitten') m.pouch_contents() ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and c. overloads the str operator so it behaves as shown below.

k = Kangaroo(0,0) print(k) I am a Kangaroo located at coordinates (0,0) k.put_in_pouch('doll') k.put_in_pouch('firetruck') k.put_in_pouch('kitten') k.pouch_contents() ['doll', 'firetruck', 'kitten'] k.jump(1,0) k.jump(1,0) k.jump(1,0) print(k) I am a Kangaroo located at coordinates (3,0)

In [7]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [8]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [9]:
k = Kangaroo(0, 0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates ({self.x},{self.y})
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates ({self.x},{self.y})

***QUESTION 4***

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = 𝑥/2 ,𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛

x = 3𝑥 + 1 ,𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [10]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [11]:
collatz(1)

1

In [12]:
collatz(10)

10
5
16
8
4
2
1

In [13]:
collatz(11)

11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

***QUESTION 5***

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0) 0

binary(1) 1

binary(3) 11

binary(9) 1001

In [14]:
def binary(n):
    if n == 0:
        return n
    binary(n // 2)
    print(n % 2, end='')

In [15]:
binary(0)

0

In [16]:
binary(1)

1

In [17]:
binary(3)

11

In [18]:
binary(9)

1001

In [19]:
binary(567)

1000110111

***QUESTION 6***

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [24]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            try:
                self.indentation = int(tag[1:]) - 1
            except ValueError:
                # Ignore if the tag does not have a numeric value
                pass

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.indentation = 0

    def handle_data(self, data):
        if data.strip() and self.indentation >= 0:
            print('  ' * self.indentation + data.strip())


# Test the implementation
with open('intro.html', 'r') as file:
    html_data = file.read()

parser = HeadingParser()
parser.feed(html_data)

Change_me
W3C Mission
  Principles

***QUESTION 7***

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [25]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent=0):
    if depth <0: #If depth is 0, terminate the recursion as there is no depth.
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    print(' ' * indent + url)
    if depth == 0:
        return
    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href and not href.startswith('http'):
            href = url + href.strip('/')
        webdir(href, depth - 1, indent + 1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/Ch7.pptx
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/caseStudy6/blackjack.py
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/emoticon.py
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/chapter7.zip

***QUESTION 8***

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [26]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_data.db')
cursor = conn.cursor()

# Create the temperature_data table
cursor.execute('''CREATE TABLE temp_data (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature FLOAT,
                    Rainfall FLOAT
                )''')

# Commit the changes and close the connection
conn.commit()

In [28]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_data.db')
cursor = conn.cursor()

# Insert data into the temperature_data table
temp_data = [
   ("Delhi","India","Winter",24.8,5.9),
   ("Surat","India","Spring",28.4,16.2),
   ("Hyderabad","India","Summer",27.9,1549.4),
   ("Ahmedabad","India","Fall",27.6,346),
   ("London","United Kingdom","Winter",4.2,207.7),
   ("Manchester","United Kingdom","Spring",8.3,169.6),
   ("Liverpool","United Kingdom","Summer",15.7,157),
   ("Leeds","United Kingdom","Fall",10.4,218.5),
   ("Cairo","Egypt","Winter",13.6,16.5),
   ("Cairo","Egypt","Spring",20.7,6.5),
   ("Cairo","Egypt","Summer",27.7,0.1),
   ("Cairo","Egypt","Fall",22.2,4.5)
]

cursor.executemany('INSERT INTO temp_data VALUES (?, ?,?,?,?)', temp_data)

# Commit the changes and close the connection
conn.commit()

In [29]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_data.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT * FROM temp_data")

# Fetch all the rows
temp_data = cursor.fetchall()

# Print the temperature data
print("All the temperature data")
print(" ")
for row in temp_data:
    print(row)

#conn.close()

All the temperature data

('Delhi', 'India', 'Winter', 24.8, 5.9)
('Surat', 'India', 'Spring', 28.4, 16.2)
('Hyderabad', 'India', 'Summer', 27.9, 1549.4)
('Ahmedabad', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('Manchester', 'United Kingdom', 'Spring', 8.3, 169.6)
('Liverpool', 'United Kingdom', 'Summer', 15.7, 157.0)
('Leeds', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [30]:
# b) All the cities, but without repetition
cursor.execute("SELECT DISTINCT City FROM temp_data")
cities = cursor.fetchall()
print("\nCities:")
for city in cities:
    print(city[0])

Cities:
Delhi
Surat
Hyderabad
Ahmedabad
London
Manchester
Liverpool
Leeds
Cairo

In [31]:
# c) All the records for India
cursor.execute("SELECT * FROM temp_data WHERE Country = 'India'")
india_records = cursor.fetchall()
print("\nRecords for India:")
for record in india_records:
    print(record)

Records for India:
('Delhi', 'India', 'Winter', 24.8, 5.9)
('Surat', 'India', 'Spring', 28.4, 16.2)
('Hyderabad', 'India', 'Summer', 27.9, 1549.4)
('Ahmedabad', 'India', 'Fall', 27.6, 346.0)

In [32]:
# d) All the Fall records
cursor.execute("SELECT * FROM temp_data WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("\nFall Records:")
for record in fall_records:
    print(record)

Fall Records:
('Ahmedabad', 'India', 'Fall', 27.6, 346.0)
('Leeds', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [33]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute("SELECT City, Country, Season, Temperature FROM temp_data WHERE Rainfall BETWEEN 200 AND 400")
rainfall_records = cursor.fetchall()
print("\nRainfall Records (200-400mm):")
for record in rainfall_records:
    print(record)

Rainfall Records (200-400mm):
('Ahmedabad', 'India', 'Fall', 27.6)
('London', 'United Kingdom', 'Winter', 4.2)
('Leeds', 'United Kingdom', 'Fall', 10.4)

In [34]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute("SELECT City, Country FROM temp_data WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
temperature_above_20 = cursor.fetchall()
print("\nCities with Average Fall Temperature > 20:")
for record in temperature_above_20:
    print(record)

Cities with Average Fall Temperature > 20:
('Cairo', 'Egypt')
('Ahmedabad', 'India')

In [35]:
# g) The total annual rainfall for Cairo
cursor.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM temp_data WHERE City = 'Cairo'")
total_rainfall_cairo = cursor.fetchone()[0]
print("\nTotal Annual Rainfall for Cairo:", total_rainfall_cairo)

Total Annual Rainfall for Cairo: 27.6

In [36]:
# h) The total rainfall for each season
cursor.execute("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM temp_data GROUP BY Season")
total_rainfall_seasons = cursor.fetchall()
print("\nTotal Rainfall for Each Season:")
for record in total_rainfall_seasons:
    print(record)

Total Rainfall for Each Season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [37]:
cursor.close()
conn.close()

***QUESTION 9***

Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following

lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy','dog']

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [40]:
words_upper = [word.upper() for word in words]
print(words_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

(b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [41]:
unchanged_words = [word for word in words]
print(unchanged_words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [42]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [43]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

 ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [45]:
filtered_words = [word for word in words if len(word) >= 4]
print(filtered_words)

['quick', 'brown', 'jumps', 'over', 'lazy']